<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  
		<%= tag.link rel: :manifest, href: "/app.webmanifest" %>
		<%= web_push_public_key_meta_tag %>
</head>

  <body>
		<button id="enable_notifications" style="display: none">Enable Notifications</button>
    <%= yield %>
  </body>
</html>
